<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	 <listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param> 

	<servlet>
	  <display-name>WorkerServlet</display-name>
	  <servlet-name>WorkerServlet</servlet-name>
	  <servlet-class>WorkerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>WorkerServlet</servlet-name>
	  <url-pattern>/get*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <display-name>userMainPage</display-name>
	  <servlet-name>UserServlet</servlet-name>
	  <servlet-class>edu.columbia.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>UserServlet</servlet-name>
	  <url-pattern>/getUserVideos</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <display-name>replyVideoPage</display-name>
	  <servlet-name>VideoServlet</servlet-name>
	  <servlet-class>edu.columbia.servlets.VideoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>VideoServlet</servlet-name>
	  <url-pattern>/getReplyVideos</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>UploadVideo</servlet-name>
    <servlet-class>edu.columbia.servlets.VideoUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideo</servlet-name>
    <url-pattern>/UploadVideo.do</url-pattern>
  </servlet-mapping>
	
</web-app>
